@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
/*header*/
.header {
    width: 100%;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
}
.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-list:nth-child(1) a {
    border-bottom: 1px solid #FFFFFF;
    font-weight: 500;
}
.nav-list a {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color:  #FFFFFF;
}
.nav-list:nth-child(2) :hover{
    border-bottom: 1px solid #FFFFFF;
}
.nav-list:nth-child(4) :hover{
    border-bottom: 1px solid #FFFFFF;
}
.nav-list:nth-child(5) :hover{
    border-bottom: 1px solid #FFFFFF;
}
@media (max-width: 1200px) {
    .nav{
        width: 500px;
    }
}
@media (max-width: 992px) {
    .nav{
        width: 300px;
    }
}
@media (max-width: 768px) {
    .nav{
        width: 300px;
    }
}
@media (max-width: 576px) {
    .nav{
        width: 250px;
    }
}

/*Block Your Life*/
.slideshow{
    width:100%;
    height: 100vh;
}
.slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.slide-img{
    width: 100%;
    height: 788px;
    max-width: 1600px;
}
.slide-text {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 224px;
    width: 730px;
    font-weight: bold;
}
.slide-text1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
    position: absolute;
    text-align: center;
    align-items: center;
    width: 504px;
    color: #FFFFFF;
    top: 328px;
}
.slide-btn{
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    text-align: center;
    width: 184px;
    height: 46px;
    line-height: 25.2px;
    color: #FFFFFF;
    top: 416px;
    background-color: #00AFDB;
    border: 0.5px solid #00AFDB;;
}
.slide-btn:hover{
    cursor: pointer;
    background-color:#009CC2;
    box-shadow: 3px 6px 14px #93c2ce;
}
.slide-icons{
    display: flex;
    width: 200px;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    color: #FFFFFF;
}
.slide-icons li :hover{
    cursor: pointer;
    box-shadow: 3px 6px 14px rgb(255, 255, 255,0.5);
}

@media (max-width: 992px) {
    .slide-text {
        font-size: 48px;
    }
    .slide-text1 {
        font-size: 16px;  
    }
    .slide-btn{
        font-size: 12px;
        width: 180px;
    }
    .slide-img{
        min-width: 100%;
    }
}
@media (max-width: 768px) {
    .slide-text {
        font-size: 42px;
    }
    .slide-text1 {
        font-size: 14px;
        width: 450px;
    }
    .slide-btn{
        font-size: 11px;
        width: 150px;
    }
}
@media (max-width: 576px) {
    .slide-text {
        font-size: 38px;
        width: 320px;
    }
    .slide-text1 {
        margin-top: 25px;
        font-size: 11px;
        width: 320px;
    }
    .slide-btn{
        font-size: 11px;
        width: 130px;
    }
}


/*Rappresent block*/
.smartDesign{
    width: 100%;
    background-color: #FFFFFF;
    max-width: 1600px;
}
.smart-container{
    display: flex;
    flex-direction: row;
}
.smart-content{
    width:50%;
    height: 842px;
}
.smart-content h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    width:367px;
    margin-top: 320px;;
    margin-left: 160px;
    color: #373737;
}
.smart-content p{
    width:407px;
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 14px;
    margin-top:1.5rem;
    margin-left: 10rem;
    line-height: 19.6px;
}
.smart-btn{
    width:184px;
    height: 46px;
    font-weight: 700;
    font-size: 14px;
    background-color: #00AFDB;
    line-height: 16.41px;
    margin-top:32px;
    margin-left: 160px;
    border: 0.5px solid #00AFDB;
    color: #FFFFFF;
}
.smart-btn:hover{
    cursor: pointer;
    background-color:#009CC2;
    transform: scale(1,1.2);
}
.smart-image{
    width:50%;
    height: 842px;
}
.smart-img{
    width:407px; 
    height:582px;
    margin-top:120px;
    margin-left: 124px;
    
}

@media (max-width: 1200px) {
    .smart-content h2{
        margin-left: 2rem;
    }
    .smart-content p{
        margin-left: 2rem;
    }
    .smart-btn{
        margin-left:2rem;
    }
    .smart-img{
        margin-left: 0rem;
    }
}

@media (max-width: 992px) {
    .smart-container{
        display: flex;
        flex-direction: column;
        height: 1100px;
    }
    .smart-content h2{
        margin-left: 256px;
        margin-top:96px;
    }
    .smart-content p{
        margin-left: 256px;
    }
    .smart-btn{
        margin-left:256px;
    }
    .smart-img{
        margin-left: 256px;
        margin-bottom: 700px;
        height: 500px;
    }
}
@media (max-width: 768px) {
    .smart-content h2{
        margin-left: 128px;
        margin-top:96px;
    }
    .smart-content p{
        margin-left: 128px;
    }
    .smart-btn{
        margin-left:128px;
    }
    .smart-img{   
        margin-left: 128px;  
    }
}
@media (max-width: 576px) {
    .smart-content h2{
        margin-top:160px;
        margin-left: 24px;
        font-size: 20px;
        width: 380px;
    }
    .smart-content p{
        margin-left: 24px;
        font-size: 12px;
        width: 340px;
    }
    .smart-btn{
        margin-left: 24px;
        width: 140px;
        font-size: 12px;
    }
    .smart-img{
        margin-left: 0.3rem;
    }
}

/*Our Community block*/
.community{
    max-width:100%;
    background-color: #F5F6F7;
    height: 504px;
}
.community-container{
    display: flex;
    flex-direction: row;
}
.community-items{
    max-width: 706px;
    height: 504px; 
}
.community-img{
    margin-top: 115px;
    margin-left: 396px;
    width: 45px;
    height: 45px;
}
.community-items h3{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2.4px;
    margin-top:20px;
    height: 20px;
    color: #373737;
    font-weight: bold;
    margin-left: 338px;   
}
.community-items p{
    width:298px;
    height:80px;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    margin-top: 30px;
    color: #4E4E4E;
    margin-left: 269px;
    text-align: center;
}
.community2{
    height:504px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    padding-top: 30px;
    margin-top: 4rem; 
}
.img1{
    width: 407px;
    height: 244px;
    margin-left: 30px; 
}
.img2{
    width: 407px;
    height: 244px;
    margin-left: 30px;
}
.img3{
    width: 407px;
    height: 244px;
    margin-left: 30px;
}
.number{
    position: absolute;
    display: flex;
    top: 0px;
    left: 60%;
    align-items: center;
}
.number:hover{
    cursor:pointer;
}
.number h5{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #373737;
    padding: 0px 10px 0px 10px;
}

@media (max-width: 1200px) {
    .community{
        max-width:100%;
        background-color: #F5F6F7;
        min-height: 1200px;
    }
    .community-container{
        display: flex;
        flex-direction: column;
        min-height: 1300px;
        margin-top: -80px;
    }
    .community2{
        margin-top: -100px;
        display: flex;
        flex-direction: column;
        overflow:visible;
        height: 1300px;
        margin-left: 25rem;
    }
    .community-items{
        margin-top:-80px;
        margin-left: 240px;
    }
    .number {
        margin-left: -160px;
        
    }
}
@media (max-width: 992px) {
    .community2{
        margin-left: 232px;
    }
    .community-items{
        margin-top:-80px;
        margin-left: 48px;
    }
    .number {
        margin-left: -96px;
        
    }
}
@media (max-width: 768px) {
    .community2{
        margin-left: 112px;
    }
    .community-items{
        margin-top:-80px;
        margin-left: -48px;
    }
    .number {
        margin-left: -96px;
        
    }
}
@media (max-width: 576px) {
    .community2{
        margin-left: -16px;
    }
    .community-items{
        margin-top:-80px;
        margin-left: -256px;
    }
}

/*Implement block*/
.implement-container{
    width: 100%;
    max-width: 1600px;
    height: 842px;
    background-color: #FFFFFF;
}
.implement-container{
    display: flex;
    flex-direction: row;
}
.implement-img{
    width:676px;
}
.implement-image{
    width:407px;
    height:582px;
    margin-top: 120px;
    margin-left:269px;
}
.implement-text{
    margin-left:139px;
    margin-top:319px;
}
.implement-text h2{
    width:298px;
    height:28px;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    color: #373737;
    letter-spacing: 1px;
}
.implement-text p{
    width:407px;
    height:60px;
    margin-top:45px;
    font-size: 14px;
    font-weight: 500;
}
.implement-btn{
    width:180px;
    height:46px;
    background-color: #00AFDB;
    color:#FFFFFF;
    font-size: 14px;
    font-weight: 700;
    border: 0.5px solid #00AFDB ;
    margin-top: 10px;
}
.implement-btn:hover{
    cursor: pointer;
    background-color: #009CC2;
    transform: scale(1,1.2);
}

@media (max-width: 1200px) {
    .implement-image{
        margin-left:19px;
    }
    .implement-text{
        margin-left:-10px;
    }
}
@media (max-width: 992px) {
    .implement-container{
        display: flex;
        flex-direction: column;
        height: 1100px;
    }
    .implement-text{
        margin-left:256px;
        margin-top:20px;
    }
    .implement-image{
        margin-left:256px;
    }
}
@media (max-width: 768px) {
    .implement-text{
        margin-left:120px;
        margin-top:20px;
    }
    .implement-image{
        margin-left:120px;
    }
}
@media (max-width: 576px) {
    .implement-text{
        margin-left:12px;
        margin-top:20px;
    }
    .implement-image{
        margin-left:12px;
    }
    .implement-text h2{
        font-size: 20px;
    }
    .implement-text p{
        font-size:12px
    }
    .implement-btn{
        width:160px;
        font-size: 12px;
    }
}
/*signup*/
.signup{
    width: 100%;
    max-width: 1600px;
    height:346px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.signup-container{
    position: relative;
    text-align: center;
}
.signupImg{
    margin-top: 85px;
    max-width:100%;
    height:526px
}
.signup-container h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    letter-spacing: 1px;
    width: 380px;
    color: #FFFFFF;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.input{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:340px;
    height: 46px;
}
.signup-btn{
    position: absolute;
    top: 55%;
    left: 59%;
    transform: translate(-50%, -50%);
    width:66px;
    height:46px;
    background-color:#00AFDB;
}
.signup-btn :hover{
   cursor: pointer;
   transform: scale(1,1.2);
}

@media (max-width: 1200px) {
    .input{
        width: 300px;
    }
}
@media (max-width: 992px) {
    .input{
        width: 250px;
    }
    .signupImg{
        width:100%;
    }
}
@media (max-width: 768px) {
    .input{
        width: 200px;
    }
    .signupImg{
        width:100%;
    }
}
@media (max-width: 576px) {
    .input{
        width: 140px;
    }
    .signupImg{
        width:100%;
    }
    .signup-container h2{
        font-size: 22px;
    }
}

/*Block Download*/
.app{
    width: 100%;
    max-width:1600px;
    height: 464px;
    background-attachment: #F5F6F7;
}
.app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}
.app1{
    width: 250px;
    height: 28px;
}
.app1 h2{
    font-size:24px;
    color:#373737;
    font-weight: 700;
    line-height:28.13px;
    letter-spacing: 1px;
}
.app2{
    width: 480px;
    height: 40px;
    margin-top: 20px;
}
.app2 p{
    font-weight: 400;
    font-size: 14px;
    color: #4E4E4E;
    text-align: center;
}
.app3{
    width:403px;
    height: 46px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.apple1{
    width: 186px;
    height: 46px;
    background-color: #00AFDB;
}
.apple2{
    display: flex;
    justify-content: flex-end;
}
.apple3{
    background-color: #009CC2;
    width: 59px;
    height: 46px; 
    border: none; 
}
.playstore1{
    width: 186px;
    height: 46px;
    background-color: #00AFDB;
}
.playstore2{
    display: flex;
    justify-content: flex-end;
}
.playstore3{
    background-color: #009CC2;
    width: 59px;
    height: 46px; 
    border: none; 
}
.apple1 {
    margin: 25px;  
}
.playstore1{
    margin:25px;
}
.apple1 :hover{
    cursor: pointer;
    background-color: #009CC2;
  
}
.playstore1 :hover{
    cursor: pointer;
    background-color: #009CC2; 
}

@media (max-width: 576px) {
    .app1{
        width: 230px;
    }
    .app1 h2{
        font-size:20px;
    }
    .app2{
        width: 400px;
    }
    .app2 p{
        font-size: 12px;
    }
    .app3{
        width:380px;
    }
    .apple1{
        width: 165px;
    }
    .playstore1{
        width: 165px;
    }
}


/*footer*/
.footer{
    background-color: #000000;
    width: 100%;
    max-width: 1600px;
    height: 185px;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly; 
}
.footers1{
    width:236px;
    height:20px;
    text-align: center;
    padding-top: 73px; 
}
.footers2{
    width:44px;
    height:44px;
    text-align: center;
    padding-top: 60px;
}
.footers3{
    width:170px;
    height:20px;
    text-align: center;
    padding-top: 73px;
}
.lists{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.lists:nth-child(1) :hover{
    cursor: pointer;
    border-bottom: 1px solid #FFFFFF;
}
.lists:nth-child(2) :hover{
    cursor: pointer;
    border-bottom: 1px solid #FFFFFF;
}
.lists:nth-child(3) :hover{
    cursor: pointer;
    border-bottom: 1px solid #FFFFFF;
}
.footers3 p{
    font-weight: 400;
    font-size:14px;
    line-height: 19.6px;
    color:#818181;
}

@media (max-width: 576px) {
    .footers1{
        width:206px;
    }
    .footers3{
        width:140px;  
    }
    .lists{
        font-size: 12px;
    }
    .footers3 p{
        font-size: 12px;
    }
}